* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 600vh;
    width: 100%;
    background: blue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: red;
    flex-direction: column;
}
.nav {
    display: flex;
    background: #1e2039;
    height: 7%;
    width: 100%;
}
.firstColContainer {
    display: flex;
    background: #fff;
    height: 93%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstColUpper {
    display: flex;
    background: #fff;
    height: 40%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    background: green;
    width: 240px;
    height: 240px;
    border-radius: 160px;
}

.firstColBottom {
    display: flex;
    background: #fff;
    height: 60%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    flex-direction: column;
}

.secondColTextDiv {
    display: flex;
    height: 10%;
    width: 100%;
    background: #fff;
}
.iamDesigner {
    font-size: 50px;
    padding-left: 50px;
}

.secondRowDiv {
    display: flex;
    height: 95%;
    width: 100%;
    background: #fff;
    flex-direction: row;

}

.secondRowLeft {
    display: flex;
    height: 100%;
    width: 50%;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.imgDiv {
    display: flex;
    height: 80%;
    width: 90%;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.leftImg {
    display: flex;
    width: 100%;
    height: 100%;
}

.secondRowRight {
    display: flex;
    height: 100%;
    width: 50%;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightImg {
    display: flex;
    width: 80%;
    height: 80%;
}

.imgDivText {
    display: flex;
}

.thirdCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    flex-direction: column;
}

.thirdColTopContainer {
    display: flex;
    height: 50%;
    width: 100%;
    background: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thirdColTopLeftRow {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: row;
    background: #fff;
    justify-content: flex-end;
    font-size: 2.5em;
}

.thirdColTopRightRow {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: row;
    background: #fff;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
}
.loremTopRight {
    padding-left: 20px;
}

.thirdColBottomContainer {
    display: flex;
    height: 50%;
    width: 100%;
    background: #fff;
    flex-direction: column;
}

.weDesign {
    padding-top: 50px;
    padding-left: 200px;
    display: flex;
    font-size: 2em;
    justify-content: center;
}
.viewPortfolio {
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding-top: 20px;
    font-size: 1.5em;
}

.fourthCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    flex-direction: row;
    justify-content: center;
}

.allImg {
    width: 90%;
    height: 90%;
}

.fourthColFirstCol {
    display: flex;
    height: 100%;
    width: 33.3333333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColFirstColFirstRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColFirstColSecondRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColFirstColThirdRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourthColSecondCol {
    display: flex;
    height: 100%;
    width: 33.3333333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColSecondColFirstRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColSecondColSecondRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColSecondColThirdRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourthColThirdCol {
    display: flex;
    height: 100%;
    width: 33.3333333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColThirdColFirstRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColThirdColSecondRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourtColThirdColThirdRow {
    display: flex;
    height: 33.3333333%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fifthCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: beige;
    flex-direction: column;
}
.freepik {
    display: flex;
    align-items: center;
    padding-left: 600px;
    padding-bottom: 100px;
    font-weight: 700;
    padding-top: 20px;
    font-size: 1.3em;

}

.fifthColUpperContainer {
    display: flex;
    height: 20%;
    width: 100%;
    background: #fff;
}

.fifthColBottomContainer {
    display: flex;
    height: 80%;
    width: 100%;
    background: green;
}
.leftDivBottom {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    background: #fff;
    padding-top: 100px;
    padding-left: 50px;
}

.rightDivBottom {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    background: #fff;
    align-items: center;
    padding-bottom: 150px;
}

.sixthCol {
    display: flex;
    height: 100%;
    width: 100%;
    background: pink;
    flex-direction: column;
}

.sixthColUpperContainer {
    display: flex;
    height: 70%;
    width: 100%;
    background: red;
}

.sixthColBottomContainer {
    display: flex;
    height: 30%;
    width: 100%;
    background: green;
}